.row
  .col-xs-4.col-xs-offset-4
    h2.text-center Your Albums
    table.table.table-striped
      tbody
        tr(ng-repeat='name in names')
          td: h3: a(ui-sref='albums.show({name:name})') {{name}}
          td: button.btn.btn-xs.btn-danger.pull-right(ng-click='remove(album,$index)') Delete
